.mainHeader{
    display:flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-top:25px;
}

/*Profile Picture*/

#profilePicture {
    display:flex;
    position: absolute;
    margin-left: 35px;
    margin-top:25px;
    z-index: 2;
    padding: 15px;
    /* border:3px solid green */
}

#profileName {
    margin-left: 105px;
    z-index: 2;
    padding:none;
    /* border:3px solid green */
}

#profileUpload {
    display:flex;
    position: absolute;
    margin-left: 35px;
    margin-top:215px;
    z-index: 2;
    padding: 15px;
    /* border:3px solid green */
}

/*Cover Image*/

#coverImage {
    display:flex;
    margin-left: 100px;
    z-index: 1;
    position: absolute;
    /* border:3px solid green */
}

#coverUpload {
    display:flex;
    position: relative;
    z-index:2;
    /* border:3px solid green; */
    margin-left: 720px;
    margin-top:215px;
    margin-right: 65px;
}