.mainContainerppp {
	   display: flex;
     flex-direction: column;
  	align-items: center;
    width: 100%;
    min-height: 500px;
    height: auto;
    margin-top: 3%;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    transition:all 500ms ease;
    margin-bottom: 100px;
}

.mainContainerppp:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.descppp {
	color: #666;
  font-size: 15px;
}

.infoppp {
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
}
.infoppp div {
	display: flex;
	align-items: center;
}
.avatarppp {
	width: 150px;
	height: 150px;
	overflow: hidden;
  border: 2px solid red;
}

.headerppp {
}
.textppp h1 {
  text-align: center;
}
.textppp p {
  text-align: center;
  padding: 0 15%;
}