.footer {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/y-so-serious.png');
  width: 90%;
  padding: 20px 5%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.foot-column__contact li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}
.telephone-link {
  text-decoration: underline;
  color: #fff;
}
.telephone-link:hover {
  text-decoration: none;
}
.AboutUs-text {
  color: #ccc;
  font-size: 12px;
}
.foot-column__contact li span {
  margin-left: 10px;
}
.footer div {
  display: inline-block;
}
.footer ul {
  list-style: none;
}
.footer__social-container li {
  display: inline-block;
  margin-left: 3px;
  font-weight: 600;
}
.footer__social-container li a {
  color: #fff;
  text-decoration: none;
}
.footer__social-container li a:hover {
  text-decoration: underline;
}
.footer__social-container li a:hover {
  text-decoration: underline;
}
.copyrighText {
  font-size: 12px;
  color: #aaa;
  font-weight: 500;
}

.footer__social-container {
  padding: 0;
}
.footer {
  color: #fff;
}
.footer__main-column {
  margin-left: 40px;
  padding: 40px 0;
}
.footer__foot-column {
  margin-left: 40px;
  min-width: 100px;
  margin-top: 30px;
}
.footer__foot-column ul {
  padding-left: 0;
}

.footer__foot-columnn ul li {
  margin-bottom: 5px;
}
.foot-column__social {
  display: flex;
  flex-direction: row;
}
.foot-column__social li {
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  .footer__foot-column {
    margin: 0;
    padding: 0;
  }
}

@media print {
  .footer {
    display: none;
  }
}
